body {
  margin: 0;
  background-color: #1a82f7;
  top: 0;
  left: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-y: hidden; 
}

#title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 80%;
}

#subtitle, #gameOver {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 80%;
}

#gameOver {
  color: red;
}

@media screen and (max-width: 700px){
  #title {
    margin-top: 10vh;
    font-size: 4em;
  }
  
  #subtitle, #gameOver {
    margin-top: 5vh;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 700px){
  #title {
    margin-top: 20vh;
    font-size: 6em;
  }
  
  #subtitle, #gameOver{
    margin-top: 10vh;
    font-size: 3em;
  }
}

@-webkit-keyframes moveit {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#subtitle {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: moveit;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}